
html
  head
    meta(charset="UTF-8")
    title Grundström Stugby
    link(rel="stylesheet", href="css/core.css")
  body
    div.header-bar
      a(href="/home", class="header-link") Home
      a(href="/adminbooking", class="header-link") Admin bookings
      a(href="/admincabins", class="header-link") Admin cabins
      a(href="/adminequipment", class="header-link") Admin snowmobiles
      a(href="/admintools", class="header-link") Admin tools
      a(href="/", class="header-link", style="margin-left: 38vw;") Logout 