html
  head
    meta(charset="UTF-8")
    title Editing equipment
    link(rel="stylesheet", href="css/core.css")
    script(src='/js/Functions/adminequipment.js', defer)
    include includes/header
  body.page-background
    div.background-pic(style ="Height: 23vw;")
      div.title-whitebox
        p.title-text Equipment info
      p.text-label Engine
        input.textinput(name="engine", type="text", value=snowmobile.engine, readonly)
      p.text-label Price 
        input.textinput(name="price", type="text", value=snowmobile.price)
      p.text-label Seats 
        input.textinput(name="seats", type="text", value=snowmobile.seats)
      button.default(onclick="editSnowmobile()") Edit
      input(type="hidden", name="engine", value=snowmobile.engine)

